html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.react-pdf__Document {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input,
input:focus {
    outline: none;
}

* {
    font-size: 12px;
}