@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

:root {
    --exclude-color: #fafafa;
}

html[data-theme="dark"] {
    --exclude-color: #fafafa;
}

.exclude-theme-change {
    background-color: var(--exclude-color);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}


/* Track */

::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 4px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.pointer-cursor {
    cursor: pointer;
}

.pan-cursor {
    cursor: move;
}

.canvas-cursor {
    cursor: url('./icons/canvas-cursor.svg'), auto;
}

.comment-cursor {
    cursor: url('./icons/comment-cursor.svg'), auto;
}

.extrude-cursor {
    cursor: url('./icons/.extrude-cursor.svg'), auto;
}

.highlighter-cursor {
    cursor: url('./icons/highlighter-cursor.svg'), auto;
}

.marker-cursor {
    cursor: url('./icons/marker-cursor.svg'), auto;
}

.orbit-cursor {
    cursor: url('./icons/orbit-cursor.svg'), auto;
}

.pen-cursor {
    cursor: url('./icons/pen-cursor.svg'), auto;
}

.pencil-cursor {
    cursor: url('./icons/pencil-cursor.svg'), auto;
}

.react-pdf__Document {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}